Requirements:

The goal of this assignment is to give you a chance to apply all that you have learned to a project of your own choosing.
	1. It must involve GLSL shaders.
	2. It must be worth 100 points.
	3. It must be do-able in ~1 week.
	4. It can be run as a script (glman) or as a program (C, C++, OpenGL).
	5. It can be based on other work that you have seen, but it must be your own implementation and code.
	6. It must be adequately explained in your write-up and video.

The intent of this project is to do something different from what you have done before. Stringing together ellipses, noise, displacement-mapping, bump-mapping, and cube-mapping using the code you already have is not acceptable. You must learn something new by doing your Final Project.

Before your project becomes "official", I need to approve a one-page paper proposal from you, due by 23:59:59 on Wednesday, February 16.

What you propose must be worth 100 points.
What you propose must be do-able in ~1 week.
Turning your proposal in on time is worth 10 of the 100 points for the Final Project.